.form_box{
    position: absolute;
    width: 417px;
    height: 498px;
    left: 927px;
    top: 97px;

    background: #3282B8;
    border-radius: 50px;
}

.new_note{
    margin-top: 10px;
    margin-left: 105px;
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
}

.input{
    font-weight: 300;
    font-size: 30px;
    font-family: Rasa;
    font-style: normal;
    color: #FFFFFF;
}

.label_title{
    margin-left: 160px;
    line-height: 40px;
}

.title_tab{
    height: 30px;
    width: 338px;
    margin-left: 40px;
    background: rgba(32, 32, 64, 0.4);
    border-radius: 20px;
}

.label_content{
    margin-left: 150px;
    line-height: 40px;
}

.content_tab{
    height: 60px;
    width: 338px;
    margin-left: 40px;
    background: rgba(32, 32, 64, 0.4);
    border-radius: 20px;
}

.label_level{
    margin-left: 180px;
    line-height: 40px;
}

.label{
    font-size: 20px;
    line-height: 24px;
 
}
.input_vi{
    margin-left: 50px ;
}

.input_i{
 margin-left: 34px;
}

.input_m{
    margin-left: 50px ;
}

.input_ni{
   margin-left: 90px;
}
.add_button{
    width: 136px;
    height: 50px;
    left: 1084px;
    top: 535px;
    margin-left: 160px;
    background: #202040;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-family: Rasa;
    font-style: normal;
    color: #FFFFFF;
}